h1 {
    font-size: 30px;
    padding: 20px;
}

h2{
    font-size: 20px;
}
body {
    background-color: beige;
}
h2 {
    background-color: rgb(112, 112, 245);
    padding: 20px;
    border-radius: 15px;
}

